/* fot common section */
:root{
    --button-color:#E02C6D;
    --driscription-fontcolor:#706f6f;
    --driscription-fontsize:16px;
    --lastbanur-color:#0A0826;



}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.display-flex{
    display: flex;
}
.border{
   border: #E02C6D 1px solid;
}
/* for nev  section */
.nev{
    
    justify-content: center;
}
.nevsec-fst{
    width: 1640px;
    
    
    justify-content: space-between;
    
}
.nev-title{
  font-weight: bold;
  font-size: 1.5rem ;
}
.nev-anchr{
font-weight: 600;
margin-top: 41px;
}
.anchr{
    margin-right: 34px;
    text-decoration: none;
    color: #000000;
}


                         /*,..................... for benner section .....................*/
.bannerall{
    width: 1640px;
    
    
    justify-content: space-between;
   
    
}
.banner{
    justify-content: center;
    margin-top: 50px;
}
.banner-img{
    width: 470px;
    height: 473px;
    margin-right: 50px;

    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.banner-title{
    font-weight: bold;
    font-size: 3.25rem;
}
.bt-discrip{
 font-size: 1.5rem;
    color: var(--driscription-fontcolor);
  
}
.banner-btn{
    width:196px;
    height: 44px;
    background-color:var(--button-color) ;
    border-radius: 41px;
    padding: 10px 24px;
    color: azure;
    font-weight: bold;
}
.banner-part-1{
    width: 582px;
    height: 270px;
}




/* .......................................for isponser companes.............................. */
.sponsers-company{
width: 1240px;
    justify-content: space-evenly;
    
    margin-top: 130px;
    padding: 30px;
    border: #dbcdcd4d solid 0.1px;
    box-shadow: #6664644f 1px 1px 3px;
}
.companys{
    justify-content: center;
    
}




/* .............................................for card section.............................................. */

.card{
    width: 330px;
    height: 476px;
    box-shadow: 0 0 20px 0 #00000056 ;
    /* padding: 14px 20px; */
    border-radius: 10px;
   padding: 20px 0 0 30px;
  
}

.card-section{
    width: 1110px;
    
display: grid;
grid-template-columns:repeat(3,1fr);
row-gap: 30px;
column-gap:30px ;
margin: 0 auto;

}
.body-title{
    text-align: center;
    font-weight: 600;
    font-size:1.75rem ;
    margin-top: 97px;
    margin-bottom: 60px;
}

.main-btn{

    width: 1110px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(224, 44, 109, 0.87);
}
.fa-solid{
    margin-left: 5px;
    margin-top: 3px;
}
/* ...................................for last body.......................... */

.last-mainbodyr{
    display: flex;
    width: 1140px;
    margin: 0 auto;
    
    margin-top: 60px;
}
.last-bodycilum2{
    width: 610px;
    margin-left:150px;
    
}
.lbody-title{
font-weight: bold;
font-size: 2.4rem;
color: #0A0826;
}
.lbody-discription{
font-weight: bold;
font-size: 1rem;
color: #6C6C6C;
}
.lbody-btn{
    width: 175px;
    height: 55px;
    background-color: #E02C6D;
    color: aliceblue;
    font-weight: bold;
    border-radius: 10px;

}
/* .............................for footer section ...............................*/
.footer{
    margin-top: 100px;
    text-align: center;
   background-color: #0A0826;
   color: aliceblue;
   padding: 100px 0;
}
.footer-logo{
    margin-top: 30px;
  
}
.ab{

   margin: 0 10px 0 10px;
}
     











/* for media query */


/*............................. for nav and top section ..........................................*/
@media screen and (max-width:576px) {
    .nevsec-fst{
         width: 100%;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    .bannerall{
          width: 100%;
          height: auto;
       flex-direction:column-reverse;
       gap: 50px;
       text-align: center;
       margin: 0 auto;
       
    }
    
  
    .banner-img{
        width: 100%;
        height: 100%;
        margin: 0 auto;

}
.sponsers-company{
    width: 100%;
    height: auto;
    
   flex-direction: column;
      align-items: center;
      margin: 0 auto;
      margin-top: 30px;
      

}
.company-img{
    width: 50%;
    height: auto;
    margin-top: 30px;
    

}
.banner-part-1{
    width: 100%;
    height: 100%;

}
.banner-btn{
    width: 50%;
height: auto;
}
   
/* for card section */
.card{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.card-section{
 width: 100%;
 grid-template-columns: repeat(1,1fr);



}
.main-btn{
    width: 100%;
justify-content: center;

}
.card-img{
    width: 90%;
    text-align: center;
}


/* fot last body and footer section */

.last-mainbodyr{
    width: 100%;
   flex-direction: column;

}
.last-bodycilum2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.last-bodycilum1{
    text-align: center;
}


}